@import 'tailwindcss';
@import './src/styles/corner-shape.css';

@theme {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

kbd {
  font-family: var(--font-mono);
}

:root {
  --color-handle: #fbbf24; /* Amber-400 */
  --color-curve: #f9fafb; /* Gray-50 */
  --color-sketch: #374151; /* Gray-700 */
  --color-background: #030712; /* Gray-950 */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

canvas {
  background-color: var(--color-background);
}
