@import "tailwindcss";

@theme {
  --font-sans: 'Geist', sans-serif;

  --color-handle: #D7B600;
  --color-curve: #f0f0f0;
  --color-sketch: #484848;
  --color-background: #030712;
}

:root {
  --color-handle: #D7B600;
  --color-curve: #f0f0f0;
  --color-sketch: #374151;
  --color-background: #030712;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Geist', var(--font-sans);
}

canvas {
  background-color: var(--color-background);
}