@import "tailwindcss";

@theme {
  --font-sans: -apple-system, system-ui, Arial, "Hiragino Sans", "Noto Sans JP", sans-serif;

  --color-handle: #D7B600;
  --color-curve: #f0f0f0;
  --color-sketch: #484848;
  --color-background: #101010;
}

:root {
  --color-handle: #D7B600;
  --color-curve: #f0f0f0;
  --color-sketch: #484848;
  --color-background: #101010;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

canvas {
  background-color: var(--color-background);
}